<%- include('partials/header') -%>

<h1>HOME</h1>

<p><%= homeStartingContent %></p>

<div class="container-fluid">
  <% for (post of posts) {%>
    <h1><%=post.title%></h1>
    <% if (post.body.length > 100){ %>
      <p><%=post.body.substring(0,100) + " ..."%>
        <a href="/posts/<%= post['_id']%>">Read More.</a>
      </p>
    <%}else{%>
      <p><%=post.body%>
      <a href="/posts/<%= post['_id']%>"> Read More.</a>
      </p>
    <%}%>

  <% } %>

</div>



<%- include('partials/footer') -%>
